services:
  - type: web
    name: candidex-api
    env: node
    branch: main
    buildCommand: npm run build && npx prisma generate && npx prisma migrate deploy
    startCommand: npm start
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    healthCheckPath: /
    regions:
      - nrt
